* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --switch-bg-url: url(./assets/bg-mobile-light.jpg);
  --br-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);

}

body {
  background-image: url(../assets/img/bg-desktop.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color)
}

.container {
  width: 332px;
  height: 712px;
  border: 1px solid red;
  margin: auto;
  display: block;
  text-align: center;
}

.wrapper-profile {
  margin: 24px 0;
}

.wrapper-profile img {
  width: 112px;
  margin: 10px auto;
}


.switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

.switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  left: 0 ;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.light switch button {
  right: 0;
  left: initial;

}
.switch span {
  display: block;
  width: 60px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;

}

.links {
  display: flex;
  justify-content: center;

  text-align: center;
  text-decoration: none;
  list-style: none;
}

.links ul li {
  list-style: none;
}

.links ul li a {
  text-decoration: none;
  margin: 16px;
  padding: 24px;
  border: 1px solid #ccc;
  width: 312px;
  border-radius: 8px;
  display: block;
  justify-content: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1)0%, rgba(255, 255, 255, 0.05)100%);
}

.social-links {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  margin: 0 24px;
}

.social-links a {
  width: 24px;
  margin-top: 24px;
  margin-bottom: 12px;
  padding: 12px;
  backdrop-filter: blur (15px);
}